[[input.prepend_keymap]]
on = "<Esc>"
run = "close"

[[mgr.prepend_keymap]]
on = "y"
run = [
  "shell 'for path in \"$@\"; do echo \"file://$path\"; done | wl-copy -t text/uri-list' --confirm",
  "yank",
]

[[mgr.prepend_keymap]]
on = "/"
run = "filter --smart"

[[mgr.prepend_keymap]]
on = "s"
run = "search --via rg"
desc = "search via rg"

[[mgr.prepend_keymap]]
on = "f"
run = "search --via=fd"
desc = "search via fd"

[[mgr.prepend_keymap]]
on = ["c", "e"]
run = ['''
	shell 'ouch d -y "$@"' --confirm
''']
desc = "Extract here with ouch"

[[mgr.prepend_keymap]]
on = ["c", "a"]
run = "plugin ouch"
desc = "Compress to archive"

[[mgr.prepend_keymap]]
on = ["M", "s"]
run = "plugin sshfs -- mount --jump"
desc = "mount"

[[mgr.prepend_keymap]]
on = ["M", "j"]
run = "plugin sshfs -- jump"
desc = "jump"

[[mgr.prepend_keymap]]
on = ["M", "u"]
run = "plugin sshfs -- unmount"
desc = "unmount"

[[mgr.prepend_keymap]]
on = ["M", "a"]
run = "plugin sshfs -- add"
desc = "add host"

[[mgr.prepend_keymap]]
on = ["M", "r"]
run = "plugin sshfs -- remove"
desc = "remove host"

[[mgr.prepend_keymap]]
on = ["R"]
run = "plugin rsync"

[[mgr.prepend_keymap]]
on = "z"
run = "plugin zoxide"

[[mgr.prepend_keymap]]
on = "<Space>"
run = "toggle --state=none"

[[mgr.prepend_keymap]]
on = "<a-a>"
run = "plugin fzf"

[[mgr.prepend_keymap]]
on = "k"
run = "arrow -1"

[[mgr.prepend_keymap]]
on = "j"
run = "arrow 1"
